@model BCKFreightTMS.Web.ViewModels.Contacts.CompanyInputModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create Company</title>
</head>
    <body>
        <form method="post" class="col-md-6 p-2 border rounded">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name">Company name</label>
                <input asp-for="Name" type="text" class="form-control" placeholder="Enter company name" required>
            </div>
            <div class="form-row">
                <div class="form-group col-5">
                    <label asp-for="TaxCountry">Tax country</label>
                    <input asp-for="TaxCountry" type="text" class="form-control" placeholder="Enter Tax country">
                </div>
                <div class="form-group col-7">
                    <label asp-for="TaxNumber">Tax number</label>
                    <input asp-for="TaxNumber" type="text" class="form-control" placeholder="Enter Tax number">
                </div>
            </div>
            <div class="form-group p-2 border rounded">
                <label class="text-muted">Company address</label>
                <div class="form-group">
                    <label asp-for="StreetLine">Street line</label>
                    <input asp-for="StreetLine" type="text" class="form-control" placeholder="Enter Street line">
                </div>
                <div class="form-row">
                    <div class="form-group col-6">
                        <label asp-for="MOLFirstName">MOL First name</label>
                        <input asp-for="MOLFirstName" type="text" class="form-control" placeholder="Enter MOL First name">
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="MOLLastName">MOL Last name</label>
                        <input asp-for="MOLLastName" type="text" class="form-control" placeholder="Enter MOL Last name">
                    </div>
                </div>
                <div class="form-group col-md-7">
                    <label asp-for="Mobile1">Mobile</label>
                    <input asp-for="Mobile1" type="text" class="form-control" placeholder="Mobile">
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Details">Details</label>
                <textarea asp-for="Details" type="text" class="form-control" placeholder="Enter Details" rows="5"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </body>
</html>