<partial name="_AntiForgery" />

<div class="container-fluid">
    <div class="row">
        <div class="p-2">
            <a class="btn btn-primary" asp-action="AddCompany">Add Company</a>
        </div>
        <div class="p-2">
            <a class="btn btn-primary" asp-action="AddPerson">Add Person</a>
        </div>
    </div>
    <hr class="mt-1" />
    <table class="table table-striped table-hover table-bordered" width="100%" id="contactsDatatable">
        <thead style="margin-bottom: 0px;">
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Type
                </th>
                <th>
                    Contacts
                </th>
                <th>
                    Address
                </th>
                <th style="visibility: hidden; border-top:none; border-right:none"></th>
            </tr>
        </thead>
    </table>
</div>
@section Scripts{
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/contactsDatatable.js"></script>
}
