@using BCKFreightTMS.Common

<footer class="main-footer small-box-footer position-absolute bottom-0" style=" left:0; right:0; width:auto">
    Copyright &copy; @DateTime.UtcNow.Year <strong>@GlobalConstants.SystemName</strong>. All rights reserved.
    <a asp-area="" asp-controller="Dashboard" asp-action="Privacy">Privacy</a>
</footer>
