@using BCKFreightTMS.Common.Enums
@using BCKFreightTMS.Data.Models
@using Microsoft.AspNetCore.Identity
@using BCKFreightTMS.Services.Data
@using BCKFreightTMS.Data.Common.Repositories
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IContactsService contacts
@inject IDeletableEntityRepository<InvoiceIn> invoices
@{
    var awaitingInvoices = this.User.IsInRole("SuperUser") ?
                         this.invoices.AllAsNoTracking()
                                    .Where(i => i.Status.Name == InvoiceStatusNames.AwaitingApproval.ToString() &&
                                                i.OrderTos.Any(o => !string.IsNullOrWhiteSpace(o.Documentation.RecievedDocumentation.Problem)))
                                    .Count() : 0;
}

<nav id="top_nav" class="main-header navbar navbar-expand navbar-white navbar-light position-fixed" style="top:0; z-index: 1">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        @if (User.Identity.IsAuthenticated)
        {
            if (this.User.IsInRole(RoleNames.Admin.ToString()))
            {
                <li class="nav-item d-none d-sm-inline-block">
                    <a class="nav-link text-dark" asp-area="Administration" asp-controller="Dashboard" asp-action="Index">@localizer["Admin"]</a>
                </li>
            }
            <li class="nav-item d-none d-sm-inline-block">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/">@localizer["Logout"]</a>
            </li>
        }
        else
        {
            <li class="nav-item d-none d-sm-inline-block">
                <a asp-area="Identity" asp-page="/Account/Login" class="nav-link">Login</a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a asp-area="Identity" asp-page="/Account/Register" class="nav-link">Register</a>
            </li>
        }
    </ul>

    <form class="form-inline ml-3">
        <div class="input-group input-group-sm">
            <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
            <div class="input-group-append">
                <button class="btn btn-navbar" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </form>
    @*<div class="d-block offset-4"></div>*@
    <ul class="navbar-nav ml-auto">
        @*<li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="far fa-comments"></i>
                    <span class="badge badge-danger navbar-badge">3</span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <a href="#" class="dropdown-item">
                        <div class="media">
                            <img src="~/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                            <div class="media-body">
                                <h3 class="dropdown-item-title">
                                    Brad Diesel
                                    <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                                </h3>
                                <p class="text-sm">Call me whenever you can...</p>
                                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                            </div>
                        </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
                </div>
            </li>*@
        <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#">
                <i class="far fa-bell"></i>
                @if (awaitingInvoices > 0)
                {<span class="badge badge-danger navbar-badge">@awaitingInvoices</span>}
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                @*<span class="dropdown-header">15 Notifications</span>*@
                <div class="dropdown-divider"></div>
                @if (awaitingInvoices > 0)
                {
                    <a asp-controller="Invoices" asp-action="Incomplete" class="dropdown-item">
                        You have @awaitingInvoices invoices for approval.
                    </a>
                }
                @*<div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-users mr-2"></i> 8 friend requests
                        <span class="float-right text-muted text-sm">12 hours</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-file mr-2"></i> 3 new reports
                        <span class="float-right text-muted text-sm">2 days</span>
                    </a>*@
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item dropdown-footer">@(awaitingInvoices > 0 ? "See All Notifications" : "No notifications")</a>
            </div>
        </li>
        @*@await Html.PartialAsync("_CulturePartial")*@
        @*<li class="nav-item">
                <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                    <i class="fas fa-th-large"></i>
                </a>
            </li>*@
    </ul>
</nav>
