@using BCKFreightTMS.Services
@{
    var companies = this.ViewData["companies"] as List<CompanyInfo>;
}

<hr />
<cache expires-after="TimeSpan.FromMinutes(60)">
    <table class="table table-bordered table-striped table-hover" id="contacts_data">
        <thead style="margin-bottom: 0px;">
            <tr>
                <th>
                    Legal Form
                </th>
                <th>
                    Company Name
                </th>
                <th>
                    UIC
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var company in companies)
            {
                <tr>
                    <td>
                        @Html.Raw(company.LegalForm)
                    </td>
                    <td>
                        @Html.Raw(company.CompanyName)
                    </td>
                    <td>
                        @company.UIC
                    </td>
                </tr>
            }
        </tbody>
    </table>
</cache>

@section Scripts{
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(function () {
            $('#contacts_data').DataTable({
                "paging": true,
                "filter": true,
                "processing": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
                //"scrollX": true,
                //"scrollCollapse": true,
            });
        });
    </script>
}
