@model BCKFreightTMS.Web.ViewModels.Shared.ApplicationModel

<div class="my-3 p-5 bg-white shadow" style=" width: 22cm; margin: auto;">
    @Html.Raw(Model.ApplicationHtml)
</div>

<div class="p-2">
    <a asp-action="DownloadApplication" asp-route-id="@Model.OrderId" id="downloadBtn" class="btn btn-primary">Download</a>
    <a asp-action="Index" class="btn btn-secondary">Close</a>
</div>
@section Scripts{
    <script>
        document.getElementById("downloadBtn").addEventListener("click", function () {
            setTimeout(function () {
                $(".loading").hide()
            }, 2000);
        })
    </script>
}