@model BCKFreightTMS.Web.ViewModels.Shared.ApplicationModel

@Html.Raw(Model.ApplicationHtml)

<div class="p-2">
    <a asp-action="BeginOrder" asp-route-id="@Model.OrderId" class="btn btn-primary">Send and begin</a>
    <a asp-action="DownloadApplication" asp-route-id="@Model.OrderId" class="btn btn-warning">Download</a>
    <a asp-action="Accepted" class="btn btn-secondary">Close</a>
</div>
