<ul class="nav nav-tabs">
    <li class="nav-item">
        <a asp-action="Index" class="nav-link @Url.MakeActiveClass("dashboard", "index", "active")">Registry data</a>
    </li>
    <li class="nav-item">
        <a asp-action="Sandbox" class="nav-link @Url.MakeActiveClass("dashboard", "sandbox", "active")">Sandbox</a>
    </li>
</ul>

